@media (max-width: 912px) {
  .event-row {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .event-title {
    font-size: 2rem;
  }
  .event-container p {
    font-size: 1.15rem;
  }
  .event-container .title {
    font-size: 1.3rem;
  }
}

@media (width: 768px) {
  .event-row {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .event-row img {
    width: 350px;
  }
  .event-title {
    font-size: 2rem;
  }
  .event-container p {
    font-size: 1rem;
  }
  .event-container .title {
    font-size: 1.3rem;
  }
}

@media (max-width: 640px) {
  .event-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }
  .event-container p {
    font-size: 0.9rem;
  }
  .event-container .title {
    font-size: 1rem;
  }
  .event-container .view-evt {
    font-size: 0.8rem;
  }
}
