.contact-container > .image-container > span {
  font-family: "Montaga";
  top: 40%;
  left: 35%;
  text-shadow: 10px 2px 0 black;
  font-weight: bold;
}

.btn-upload input[type="file"] {
  position: absolute;
  opacity: 0;
}

@media (max-width: 1280px) {
  .contact-container > .image-container > span {
    font-size: 3rem;
  }
  .contact-container > .image-container > span {
    left: 20%;
    font-weight: 600;
  }
}

@media (max-width: 1024px) {
  /* .contact-container {
    padding: 1.5rem 2rem;
  } */
  .contact-container > .image-container > span {
    left: 20%;
  }
}

@media (max-width: 912px) {
  .contact-container > .image-container > span  {
    left: 26%;
    top: 45%;
    font-size: 5rem;
  }
}

@media (max-width: 640px) {
  .contact-container > .image-container > span {
    left: 20%;
    font-weight: 600;
    font-size: 3rem;
    top: 40%;
  }
  .evt-form > form {
    width: 100%;
  }
  .evt-form > form > div > input {
    width: 16rem;
  }
  .job-apply {
    padding: 1.5rem 2rem;
  }
  .job-apply > form > div > input {
    width: 100%;
  }
  .file-upload {
    width: 311.24px;
  }
}

@media (max-width: 280px) {
  .file-upload {
    width: 211.24px;
  }
}