.menu-icon {
  display: none;
}



@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }
  .nav {
    display: none;
  }
}

@media (min-width: 900px) {
  .nav-burger {
    display: none;
  }
}

@media (max-width: 640px) {
  .message {
    display: flex;
    font-size: 0.6rem;
  }
  .header-wrapper {
    padding: 2rem 1.5rem;
  }
  .header-container>:first-child {
    width: fit-content;
  }
  .font-irish-grover {
    font-size: 1.1rem;
    width: 6rem;
  }
  .logo {
    width: 90px;
  }
  .nav-menu>*, .nav-right> :nth-child(2), .nav-right> :last-child {
    font-size: 0.8rem;
  }
}

@media (max-width: 414px) {
  .message {
    font-size: 0.5rem;
  }
}