.image-container {
  position: relative;
}

.menu-container .image-container > span {
  position: absolute;
  top: 40%;
  left: 37%;
  font-family: "Montaga";
}

@media (max-width: 1280px) {
  .menuList-container {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 900px) {
  .image-container {
    height: 35rem;
  }
  .image-container > span {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  .category {
    font-size: 1rem;
  }
  .row h3 {
    font-size: 0.8rem;
  }
  .row p,
  .right > span {
    font-size: 0.7rem;
  }
}
